.footer {
    background-color: #003366;
    color: white;
    text-align: center;
    padding: 10px 0;
    margin-top: 20px;
  }
  
  .footer a {
    color: white;
    text-decoration: none;
    margin: 0 5px;
  }
  