html, body {
  margin: 0;
  height: 100%;
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Ensure the container spans the full height of the viewport */
}

main {
  flex: 1;
}

footer {
  background-color: #003366;
  color: white;
  text-align: center;
  padding: 10px 0;
}
